<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mohtasham</title>
    <link rel="stylesheet" href="css/style.css" />

    <!-- aos  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <!-- font awesome cdn link  -->
    <link
      rel="stylesheet "
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css "
    />
  </head>
  <body>
    <div class="overlay">
      <h1>m.</h1>
      <span>MOHTASHAM</span>
    </div>
    <nav class="navbar">
      <h1 class="logo">Mohtasham</h1>
      <ul class="nav-links">
        <li class="acitve"><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#work">Work</a></li>
        <li><a href="#blog">Blogs</a></li>
        <li><a href="#contact" class="button">Contact Me</a></li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
    <div class="home">
      <div class="home-con1">
        <h1 class="home-heading rellax" data-rellax-speed="-2">
          Designer <span class="home-span">&</span> Developer
        </h1>
      </div>
      <div class="home-con2">
        <p class="home-para">
          Hello, I am a Full stack developer based in Saudi Arabia. So i have
          spend thousands of hour creating beautiful and minimal design. I will
          create fast and aesthetically pleasing website for you so contact me.
        </p>
      </div>
    </div>
    <div class="about">
      <h1 class="heading about-heading">About me</h1>
      <div class="about-con">
        <div class="about-main">
          <p class="about-para">
            I am a Full stack developer based in Saudi Arabia.I have over 2
            years of experience in Full Stack Development. I have created many
            of aesthetically pleasing and minimalistic websites. I am an expert
            in CSS and JS. I create successful websites that are fast, easy to
            use, and built with best practices. The website i create will help
            you expand your business and your online presence - which is crucial
            nowadays. You can look at my work to get a better idea of my skills.
          </p>
          <h1 class="heading about-para-heading">Front-end Development:</h1>
          <p>
            I use HTML, CSS, and JavaScript to produce responsive websites and
            web apps that provide users the best and most appropriate experience
            suited to their device and browser.
          </p>
          <h1 class="heading about-para-heading">Back-end Development:</h1>
          <p>
            I use Nodejs, Express.js and Django to create Back-end of websites
            that are fast and easy to navigate. I use Mongodb for database. I
            can even create complex database using Mongodb. I am also
            experienced at using DigitalOcean.
          </p>
        </div>
        <div
          class="about-card rellax"
          data-rellax-speed="-2"
          data-rellax-xs-speed="0"
        >
          <div class="about-card-con">
            <h1 class="heading about-para-heading">Skills:</h1>

            <li class="about-links">Front-end Development</li>
            <li class="about-links">Back-end Deveploment</li>
            <li class="about-links">Ui design</li>
          </div>
        </div>
      </div>
      <div class="over rellax" data-rellax-speed="-9">
        <h1 class="m">m.</h1>
      </div>

      <div class="work">
        <div>
          <h1 class="work-heading heading">
            <img src="images/Line 1.png" class="line" alt="" />My work
            <img src="images/Line 1.png" class="line" alt="" />
          </h1>
        </div>
        <div>
          <div class="work-con work-con1">
            <a href="">
              <img class="work-img work-img1" src="images/work.jpg" alt=""
            /></a>
            <div class="work-main2">
              <h1>React Project</h1>
              <p>I created react project using styled components.</p>
            </div>
          </div>
          <div class="work-con work-con2">
            <a href="">
              <img class="work-img work-img2" src="images/work1.jpg" alt=""
            /></a>
            <div class="work-main">
              <h1>Chat App</h1>
              <p>I created chat project using socket io.</p>
            </div>
          </div>
          <div class="work-con work-con3">
            <a href="">
              <img class="work-img work-img3" src="images/work2.jpg" alt=""
            /></a>
            <div class="work-main2">
              <h1>Portfolio website</h1>
              <p>I created Portfolio website.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="blog">
      <div>
        <h1 class="heading blog-heading">My Blogs</h1>
        <div class="blog-con">
          <div class="blog-card" data-aos="flip-right">
            <img src="images/frontend.png" alt="" class="blog-img" />
            <h1 class="blog-card-heading">How I learn Front-end?</h1>
            <p class="blog-text">Coming soon!</p>
            <button class="btn">Visit</button>
          </div>
          <div class="blog-card" data-aos="flip-right">
            <img src="images/html.jpg" alt="" class="blog-img" />
            <h1 class="blog-card-heading">
              Things to avoid while designing in css
            </h1>
            <p class="blog-text">Coming soon!</p>
            <button class="btn">Visit</button>
          </div>
          <div class="blog-card" data-aos="flip-right">
            <img src="images/css.jfif" alt="" class="blog-img" />
            <h1 class="blog-card-heading">How I learn Front-end?</h1>
            <p class="blog-text">Coming soon!</p>
            <button class="btn">Visit</button>
          </div>
        </div>
      </div>

      <div class="contact">
        <h1 class="contact-heading heading">Contact Me</h1>
        <div class="contact-con">
          <div class="contact-links">
            <a href="https://instagram.com/cool._.coder_?igshid=YmMyMTA2M2Y=">
              <i class="fa-brands fa-instagram contact-icon"></i>
            </a>

            <a href="https://www.linkedin.com/in/mohtasham-ahmed-986405249 ">
              <i class="fa-brands fa-linkedin contact-icon"></i>
            </a>
            <a href="mailto:mohtashamahmed2005@gmail.com ">
              <i class="fa-solid fa-envelope contact-icon"></i>
            </a>
          </div>
          <div class="contact-form">
            <form
              action="https://formsubmit.co/pubggamingpak2000@gmail.com "
              method="POST"
              class="contact-form"
            >
              <input type="hidden" name="_subject" value="New email " />
              <input type="hidden" name="_captcha" value="false " />

              <div>
                <label for="name" class="contact-label label">Name:</label>
                <input type="text" class="form-field input" id="name" />
                <small class="error"></small>
              </div>

              <div>
                <label for="email" class="contact-label label">Email:</label>
                <input type="text" class="form-field input" id="email" />
                <small class="error"></small>
                <input
                  type="hidden"
                  name="_next"
                  value="http://localhost:8080/ "
                />
              </div>

              <div class="">
                <label class="contact-label label" for="message "
                  >Message:</label
                >
                <textarea
                  class="form-field input input-message"
                  id="message "
                ></textarea>
                <small class="error"></small>
              </div>
              <div>
                <button type="submit" class="btn contact-btn">
                  Send Message
                </button>
              </div>
              <div id="success"></div>
              <div class="center"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js "
      integrity="sha512-Mf/xUqfWvDIr+1B6zfnIDIiG7XHzyP/guXUWgV6PgaQoIFeXkJQR5XWh9fqAiCiRCpemabt3naV4jhDWVnuYDQ=="
      crossorigin=" anonymous "
      referrerpolicy="no-referrer "
    ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js "></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script
      type="text/javascript "
      src="https://cdnjs.cloudflare.com/ajax/libs/timelinejs/2.36.0/js/timeline-min.js "
    ></script>
    <script
      type="text/javascript "
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenLite.min.js "
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/CSSRulePlugin.min.js "
      integrity="sha512-WmIFc2KnjfdlxbNwOApiTUtM6TwCz985/6yKTfFqC8Nq7H/VUMfJ897tEGx6SKSxLQbxilffKEcaGhbtBhGmng=="
      crossorigin=" anonymous "
      referrerpolicy="no-referrer "
    ></script>
    <script
      type="text/javascript "
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/BezierPlugin.min.js "
    ></script>

    <script src="js/main.js"></script>
    <script class="text/javascript"></script>

    <script>
      var rellax = new Rellax(".rellax");
    </script>
  </body>
</html>
